.carousel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    &-category {
        display: flex;
        flex-flow: column;
        justify-content: center;
        border: 2px solid black;
        &__image {
            width: 670px;
            height: 400px;
        }
        &__arrows {
            position: absolute;
            bottom: 200px;
            display: flex;
            justify-content: space-between;
            width: 650px;
            margin-left: 13px;
            &-arrow {
                border-radius: 50px;
                background-color: rgba(255, 255, 204, 0.9);
                padding: 8px;
                cursor: pointer;
            }
        }
        &__button {
            background: black;
            color: white;
            border-radius: 20px;
            padding: 5px;
            border: red 1px solid;
            width: 150px;
            position: absolute;
            bottom: 50px;
            font-size: 20px;
            font-family: 'Monoton', cursive;
            left: 970px;
            cursor: pointer;
            &:focus {
                outline: 0;
            }
            &:hover {
                color: red;
                border: white 1px solid;
            }
            &--movies{
                margin-right: 90px;
                left: 250px;
            }
        }
    } 
}