.categories {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-family: 'Monoton', cursive;
    background: white;
    width: 1349px;
    &__option {
        width: 137px;
        padding: 10px 5px;
        text-align: center;
        color: black;
        cursor: pointer;
        border: 1px black solid;
        &:hover {
            color: red;
            background: black;
        }
        &:focus {
            outline: 0;
        }
    }

}