.header {
    background: black;
    font-size: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: #cc0000;
    font-family: 'Monoton', cursive;
    z-index: 1;
    &__logo {
        width: 70px;
        height: 70px;
        
    }
    &__finalOptions {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        width: 100px;
        max-width: 100px;
        max-height: 44px;
        align-items: center;
        &-userIcon {
            width: 30px;
            height: 30px;
            max-width: 30px;
            max-height: 30px;
            cursor: pointer;
            &:hover {
                background: white;
                border-radius: 50px;
                border: solid 2px orangered;
                padding: 3px;
            }
        }
        &-search {
            width: 25px;
            height: 25px;
            cursor: pointer;
            max-width: 25px;
            max-height: 25px;
            &:hover {
                background: white;
                border-radius: 50px;
                border: solid 2px orangered;
                padding: 3px;
            }
        }
    }
}