.movies {
    display: flex;
    flex-flow: column;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center; 
    font-size: 17.5px;
    font-family: 'Monoton', cursive;
    width: 15%;
    height: 611px;
    border: 1px black solid;
    &__title {
        padding: 20px 15px;
    }
    &-movies {
        padding: 0px 15px;
        height: 600px;
        overflow : auto;
        border: 1px solid black;
        &__movie {
            font-size: 12px;
            padding-top: 20px;
            display: flex;
            flex-flow: column;
            margin-bottom: 20px;
            cursor: pointer;
            &-image {
                width: 80px;
                margin-bottom: 5px;
                align-self: center;
                border-radius: 6px;
            }
        }
    }
}