
.container {
    display: flex;
    flex-flow: row nowrap;
    &-image {
        text-align: center;
        font-family: 'Monoton', cursive;
        position: relative;
        height: 613px;
        background-repeat: no-repeat;
        background-size: 100% 620px;
    }
    &-principal {
        display: flex;
        flex-flow: column;
    }
    &-info {
        display: flex;
        flex-flow: column;
        font-size: 30px;
        color: white;
        text-align: center;
        width: 100%;
        height: 620px;
        &__title {
            background: rgba(0, 0, 0, 0.8);
            border-radius: 12px;
            width: 80%;
            margin: 20px 0px;
            align-self: center;
        }
        &__video {
            align-self: center;
            margin-top: 45px;
            width: 467px;
            height: 296px;
        }
        &__description {
            font-size: 10px;
            width: 80%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 15px;
            margin-bottom: 15px;
            align-self: center;
            padding: 5px;
            &-date {
                margin:0px 10px;
            }
            &-text {
                width: 800px;
            }
        }
        
    }
}