.similars {
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Monoton', cursive;
    height: 500px;
    &__title {
        font-size: 35px;
        background: black;
        color: white;
        width: 202px;
        &-text {
            text-orientation: upright;
            writing-mode: vertical-lr;
            text-align: center;
            padding-left: 30px;
        }
    }
.similar {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: space-around;
    font-size: 15px;
    color: white;
    width: 1127px;   
    align-content: flex-start;
    &__single {
        width: 80px;
        background: black;
        box-shadow: 5px 10px 8px rgb(53, 46, 46);
        text-align: center;
        display: flex;
        flex-flow: column;
        border-radius: 6px;
        margin: 20px;
        cursor: pointer;
        &-image {
            height: 70px;
            border-top-left-radius: 6px; 
            border-top-right-radius: 6px; 
        }
        &-name {
            padding: 5px 0px;
        }
        &-date {
            font-size: 10px;
            padding-bottom: 5px;
        }
    }
}
}