.transition {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background: black;
    padding: 10px;
    border-bottom: 1px red solid;
    border-top: 1px red solid;
    &__image {
        width: 35px;
        height: 35px;
    }
}